.main {

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3vw;
    font-family: Impact;
    color: #12463C;
}


body{
    background-color: #edb9c3;
    color: #12463C;
}

.dark-mode {
    background-color: #12463C;
    color: #edb9c3;
}